.main {
  overflow: scroll;
  box-sizing: border-box;
  padding: 100px 40px 20px 40px;
  align-items: center;
}
.main-mobile {
  box-sizing: border-box;
  padding: 100px 40px 20px 40px;
  align-items: center;
}

.backButton {
  margin: 40px 0;
}

.active {
  fill: red;
  animation-name: color;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

@keyframes color {
  0% {
    fill: #c4c4c4;
  }
  50% {
    fill: #457b9d;
  }
  100% {
    fill: #c4c4c4;
  }
}

.nonactive {
  fill: #c4c4c4;
}
