.main {
  overflow: scroll;
  box-sizing: border-box;
  padding: 100px 40px 20px 40px;
  align-items: center;
}
.main-mobile {
  box-sizing: border-box;
  padding: 100px 40px 20px 40px;
  align-items: center;
}

.active {
  fill: red;
  animation-name: color;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

@keyframes color {
  0% {
    fill: #c4c4c4;
  }
  50% {
    fill: #457b9d;
  }
  100% {
    fill: #c4c4c4;
  }
}

.nonactive {
  fill: #c4c4c4;
}

.contentHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activeFloor {
  margin: 0 40px 0 40px;
}

.githubIcon {
  margin: 20px;
}

.floorContainer {
  position: relative;
  min-height: calc(100vh - 332px);
  min-height: -o-calc(100vh - 332px); /* opera */
  min-height: -webkit-calc(100vh- 332px); /* google, safari */
  min-height: -moz-calc(100vh- 332px);
  padding-top: 20px;
}

.backButton {
  position: absolute !important;
  top: 0;
  left: 0;
  margin: 20px !important;
}
