.header {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
.liste {
    float: left;
    list-style-type: none;
}
  
.liste a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
/* Change the link color to #111 (black) on hover */
.liste a:hover {
    background-color: #111;
}