.header {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.logo{
    margin: 0 0 0 120px;
    padding: 0 20px;
    color: white;
    min-height: 100%;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoLink{
    text-decoration: none;
    color: white;
    margin: 0;
}

.logo:hover{
    background-color: lightgray;
    color: red;
}

.logoText{
    font-size: 20px;
    margin: 0;
}