.header {
  overflow: hidden;
  background-color: #457b9d;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logo {
  position: absolute;
  left: 0;
  margin: 0 0 0 120px;
  width: 200px;
}
@media only screen and (max-width: 600px) {
  .logo {
    margin: 0;
  }
}

.logoHome {
  text-decoration: none;
  color: #1d3557;
  margin: 0;
  min-width: 100%;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.listElement {
  margin: 0 40px;
}
.link {
  text-decoration: none;
  color: #1d3557;
  margin: 0;
  min-width: 100%;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo:hover {
  background-color: #1d3557;
  border-radius: 4px;
}
.logo:hover .logoText {
  color: white;
}
.logo:hover .logoImage {
  color: white;
}

.logoText {
  font-size: 20px;
  margin: 0;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoText:hover {
  color: white;
}

.linkList {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
