.header {
  overflow: hidden;
  background-color: #457b9d;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logo {
  position: absolute;
  left: 0;
  margin: 0 0 0 120px;
  width: 200px;
}
@media only screen and (max-width: 600px) {
  .logo {
    margin: 0;
  }
}

.logoHome {
  text-decoration: none;
  color: #1d3557;
  margin: 0;
  min-width: 100%;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.listElement {
  margin: 0 40px;
}
.link {
  text-decoration: none;
  color: #1d3557;
  margin: 0;
  min-width: 100%;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoImage {
  margin-right: 10px;
}
.logo:hover {
  background-color: #1d3557;
  border-radius: 4px;
}
.logo:hover .logoText {
  color: white;
}
.logo:hover .logoImage {
  color: white;
}
.listElement:hover .logoImage {
  color: white;
}
.listElement:hover .logoText {
  color: white;
}

.logoText {
  font-size: 20px;
  margin: 0;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoText:hover {
  color: white;
}

.linkList {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

@media only screen and (max-width: 900px) {
  .linkList {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: #1d3557;
  }
}
.menuButton {
  z-index: 101;
  margin-right: 10px !important;
}
@media only screen and (min-width: 900px) {
  .menuButton {
    display: none !important;
  }
}

@media only screen and (max-width: 900px) {
  .open {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    z-index: 100;
    color: white;
  }
}
@media only screen and (max-width: 900px) {
  .white {
    color: white;
  }
}
