.mainContent{
  min-height: 60vh;
}

.room{
    width: 240px;
    height: 240px;
    margin: 40px;
    background-color: #1d3557;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.room:hover{
    background-color: #457b9d;
}

.liste{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
}

.input{
    margin: 100px;
}

.roomLink{
    text-decoration: none;
    color: white;
}

.tittel{
    margin: 0 0 40px 0;
    font-size: 40px;
}
