* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  min-height: 100vh;
}

body {
  font-family: "Inter", sans-serif;
  color: #1d3557;
  background-color: #ffffff;
  min-height: 100vh;
}

.ruter {
  width: 100%;
  min-height: calc(100vh - 332px);
  min-height: -o-calc(100vh - 332px); /* opera */
  min-height: -webkit-calc(100vh- 332px); /* google, safari */
  min-height: -moz-calc(100vh- 332px); /* firefox */
}

@media only screen and (max-width: 800px) {
  .ruter {
    height: 95vh;
  }
}

.cantine {
  width: 100%;
  min-height: calc(100vh - 332px);
  min-height: -o-calc(100vh - 332px); /* opera */
  min-height: -webkit-calc(100vh- 332px); /* google, safari */
  min-height: -moz-calc(100vh- 332px); /* firefox */
}

.inner-spisested {
  color: #1d3557;
}

@media only screen and (max-width: 800px) {
  .cantine {
    min-height: calc(100vh - 332px);
    min-height: -o-calc(100vh - 332px); /* opera */
    min-height: -webkit-calc(100vh- 332px); /* google, safari */
    min-height: -moz-calc(100vh- 332px);
  }
}
